body{
    overflow-x: hidden;
    background-color: green;
    .row{
        background-color: black;
    }
    .half{
        
        background-color: white;
        img{
         
         margin-top: 25%;
        }
        button{
            background-color: black;
            color: white;
            outline: none;
            margin-top: 5%;
            margin-bottom: auto;    
            height: 40px;
            width: 180px;
            font-size: 20px;
            border: none;
            
            
        }
        h1{
            font-family: 'Balsamiq Sans', cursive;
            font-size: 50px;
        }
    }
    
    
}
